<div>
  <mat-grid-list cols="6">
    <mat-grid-tile>
    </mat-grid-tile>
    <mat-grid-tile>
      <h3>Flight Offers:</h3>
    </mat-grid-tile>
    <mat-grid-tile>
    </mat-grid-tile>
  </mat-grid-list>


  <div class="card mb-3 mt-3" *ngFor="let flight of flights">

    <div class="card-header"><b>Price:</b> {{ flight.price.total }} ({{ flight.price.currency }})</div>
    <div class="card-body">


      Number of Seats Available: {{ flight.numberOfBookableSeats }}
      <br>
      Last Ticketing Date: {{ flight.lastTicketingDate }}
      <hr>
      <h5>Itineraries</h5>
      Duration: {{ flight.itineraries[0].duration }}

      <p *ngFor="let i of flight.itineraries[0].segments">
        <strong>Departure:</strong> {{ i.departure.iataCode }} <strong>at</strong> {{ i.departure.at }}
        <em>(Terminal: {{ i.departure.terminal }})</em>
        &nbsp;
        <strong>Arrival:</strong> {{ i.arrival.iataCode }} <strong>at</strong> {{ i.arrival.at }}
        <em>(Terminal: {{ i.arrival.terminal }})</em>
        &nbsp;
        <strong>Number of stops:</strong> {{ i.numberOfStops }}
      </p>

      <hr>

      <h5>Enter your details:</h5>

      <input type="text" name="first" placeholder="Your first Name" [(ngModel)]="first" class="form-control">
      <br>
      <input type="text" name="last" placeholder="Your Last Name" [(ngModel)]="last" class="form-control">

    </div>
    <div class="card-footer">
      <button class="btn btn-warning" (click)="onBookFlight(flight)" [ngStyle]="{'width': '100%'}">Book Flight
      </button>
    </div>


  </div>
</div>
