<div>
  <mat-grid-list cols="6">
    <mat-grid-tile>
    </mat-grid-tile>
    <mat-grid-tile>
      <h3>Flight Offers:</h3>
    </mat-grid-tile>
    <mat-grid-tile>
    </mat-grid-tile>
  </mat-grid-list>


  <mat-grid-list cols="6" rowHeight="1:2" *ngFor="let flight of flights">
    <mat-grid-tile>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="4">

      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title><b>Price:</b> {{ flight.price.total }} ({{ flight.price.currency }})</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          Number of Seats Available: {{ flight.numberOfBookableSeats }}
          <br>
          Last Ticketing Date: {{ flight.lastTicketingDate }}
          <hr>
          <h5>Itineraries</h5>
          Duration: {{ flight.itineraries[0].duration }}

          <p *ngFor="let i of flight.itineraries[0].segments">
            <strong>Departure:</strong> {{ i.departure.iataCode }} <strong>at</strong> {{ i.departure.at }}
            <em>(Terminal: {{ i.departure.terminal }})</em>
            &nbsp;
            <strong>Arrival:</strong> {{ i.arrival.iataCode }} <strong>at</strong> {{ i.arrival.at }}
            <em>(Terminal: {{ i.arrival.terminal }})</em>
            &nbsp;
            <strong>Number of stops:</strong> {{ i.numberOfStops }}
          </p>

          <hr>

          <h5>Enter your details:</h5>
          <mat-form-field appearance="fill">
            <mat-label>First Name</mat-label>
            <input matInput type="text" name="first" [(ngModel)]="first" class="form-control">
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Last Name</mat-label>
            <input matInput type="text" name="last" [(ngModel)]="last" class="form-control">
          </mat-form-field>

          <button mat-raised-button color="primary" (click)="onBookFlight(flight)">Book Flight</button>


        </mat-card-content>
      </mat-card>

    </mat-grid-tile>
    <mat-grid-tile>
    </mat-grid-tile>
  </mat-grid-list>
</div>
