<mat-spinner *ngIf='wait'></mat-spinner>
<mat-divider></mat-divider>


<mat-grid-list cols="6" rowHeight="100px">
  <mat-grid-tile>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="4">
    <h1><strong>Find flight deals around the world</strong></h1>
  </mat-grid-tile>
  <mat-grid-tile>
  </mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="6" rowHeight="100px">

  <mat-grid-tile>
  </mat-grid-tile>

  <mat-grid-tile>

    <mat-form-field appearance="fill">
      <mat-label>From</mat-label>
      <input matInput type="text" class="form-control" name="from" [(ngModel)]="from" (keypress)="getFromLocation()">
    </mat-form-field>

  </mat-grid-tile>
  <mat-grid-tile>

    <mat-form-field appearance="fill">
      <mat-label>To</mat-label>
      <input matInput type="text" class="form-control" name="to" [(ngModel)]="to" (keypress)="getToLocation()">
    </mat-form-field>

  </mat-grid-tile>
  <mat-grid-tile>

    <mat-form-field appearance="fill">
      <mat-label>Departure date</mat-label>
      <input matInput [matDatepicker]="picker" name="date" [(ngModel)]="date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

  </mat-grid-tile>
  <mat-grid-tile>

    <button mat-raised-button color="primary" (click)="onFindFlight()">Find Flights</button>

  </mat-grid-tile>

  <mat-grid-tile>
  </mat-grid-tile>

</mat-grid-list>


<mat-grid-list cols="6">
  <mat-grid-tile>
  </mat-grid-tile>
  <mat-grid-tile class="location_from">

    <mat-list>
      <mat-list-item *ngFor="let Location of fromLocation" (click)="getOrigin(Location)">
        <h3 matLine> {{Location.name}}<span> ({{ Location.subType }})</span></h3>
        <p matLine>
          <span> {{Location.address.cityName}} </span>
          <span> -- {{Location.address.countryName}} </span>
        </p>
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-list>

  </mat-grid-tile>
  <mat-grid-tile class="location_to">

    <mat-list>
      <mat-list-item *ngFor="let Location of toLocation" (click)="getDestination(Location)">
        <h3 matLine> {{Location.name}}<span> ({{ Location.subType }})</span></h3>
        <p matLine>
          <span> {{Location.address.cityName}} </span>
          <span> -- {{Location.address.countryName}} </span>
        </p>
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-list>
  </mat-grid-tile>
</mat-grid-list>

<mat-divider></mat-divider>

<div *ngIf="flightTemplate">
  <h3>Flight Offers:</h3>


  <div class="card mb-3 mt-3" *ngFor="let flight of flights">

    <div class="card-header"><b>Price:</b> {{ flight.price.total }} ({{ flight.price.currency }})</div>
    <div class="card-body">


      Number of Seats Available: {{ flight.numberOfBookableSeats }}
      <br>
      Last Ticketing Date: {{ flight.lastTicketingDate }}
      <hr>
      <h5>Itineraries</h5>
      Duration: {{ flight.itineraries[0].duration }}

      <p *ngFor="let i of flight.itineraries[0].segments">
        <strong>Departure:</strong> {{ i.departure.iataCode }} <strong>at</strong> {{ i.departure.at }}
        <em>(Terminal: {{ i.departure.terminal }})</em>
        &nbsp;
        <strong>Arrival:</strong> {{ i.arrival.iataCode }} <strong>at</strong> {{ i.arrival.at }}
        <em>(Terminal: {{ i.arrival.terminal }})</em>
        &nbsp;
        <strong>Number of stops:</strong> {{ i.numberOfStops }}
      </p>

      <hr>

      <h5>Enter your details:</h5>

      <input type="text" name="first" placeholder="Your first Name" [(ngModel)]="first" class="form-control">
      <br>
      <input type="text" name="last" placeholder="Your Last Name" [(ngModel)]="last" class="form-control">

    </div>
    <div class="card-footer">
      <button class="btn btn-warning" (click)="onBookFlight(flight)" [ngStyle]="{'width': '100%'}">Book Flight
      </button>
    </div>


  </div>
</div>

<div *ngIf="booked">
  <div class="alert alert-success" role="alert">
    Successfully Booked the flight
  </div>
</div>
